[Unit]
Description=PG TileServ (PostGIS tile server)
After=syslog.target
After=network.target
###

# Don't forget to add the database service dependencies

###

Wants=postgresql.service

After=postgresql.service


[Service]
RestartSec=10s
Type=simple
User=pgtileserv
Group=pgtileserv
WorkingDirectory=/home/renderaccount/Myosm2pgsql-themepark/PG_Tileserver/

ExecStart=/usr/local/bin/pg_tileserv --config /home/renderaccount/Myosm2pgsql-themepark/PG_Tileserver/config/pg_tileserv_themepark.toml
Restart=always

StandardOutput=append:/var/log/pg_tileserv/themepark.log
StandardError=append:/var/log/pg_tileserv/themepark.errlog

[Install]
WantedBy=multi-user.target
